torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
triton==2.3.0
einops==0.8.0
lpips==0.1.4
rotary-embedding-torch==0.6.2

numpy==1.24.4
scipy==1.10.1
scikit-image==0.18.1
matplotlib==3.3.4
pandas==1.2.4
opencv-python-headless==4.5.3.56
imageio==2.34.1
pillow==10.2.0
pywavelets==1.4.1
tifffile==2023.7.10

tqdm==4.59.0
natsort==7.1.1
joblib==1.4.2
pyyaml==6.0
fsspec==2024.2.0
filelock==3.13.1

tensorboard==2.6.0
tensorboardx==2.4.1
protobuf==3.20.3
ipdb==0.13.13

